footer
	if !isSaved
		form(action="/save" enctype="multipart/form-data" method="post")
			input(type="hidden" name="serialised" value=requestor.getSerialised())
			button(type="submit") Save
	a(href="https://philmaurer.dev" target="_blank") &copy;Phil Maurer #{new Date().getFullYear()}
	a(href="https://github.com/aurer/showme-express" target="_blank") Github