extends layout/default

block primary
	section.intro
		h1 Showme
		p. 
			Direct a form submision here to inspect it's values:

		.buttonGroup
			include partials/button-post.pug
			include partials/button-get.pug

		p Use these bookmarklets to redirect form submissions here:
		.buttonGroup
			a.bookmarklet(href=showmeFormsScript) Showme form
			a.bookmarklet(href=showmeGetScript) Showme get
		p To add them just drag them to your bookmarks bar
		p 
			small 'Showme post' will toggle a forms action so it submits here,<br>'Showme get' will copy any request parameters into this site
