extends layout/default

block primary
    include partials/button-get.pug
    include partials/button-post.pug

    form(action="/" method="post" enctype="multipart/form-data")
        input(type="hidden" name="basic_field_1" value="Basic field 1")
        input(type="hidden" name="basic_field_2" value="Basic field 2")
        input(type="hidden" name="array_field[]" value="Array field 1")
        input(type="hidden" name="array_field[]" value="Array field 2")
        input(type="hidden" name="duplicate_field" value="Duplicate field 1")
        input(type="hidden" name="duplicate_field" value="Duplicate field 2")
        input(type="hidden" name="field.with.dot" value="Field with dot")
        input(type="hidden" name="field-with-dash" value="Field with dash")
        input(type="hidden" name="field&with&dash" value="Field with ampersand")
        input(type="file" name="the__file")
        button(type="submit") Multipart

    form(action="/save" method="post")
        input(type="hidden" name="serialised" value='{"params":[{"type":"get","name":"Something","value":"Like this..."}],"referer":"http://localhost:3000/","formAction":null}')
        input(type="hidden" name="hash" value="997a2c709b84f78c1ae744ec153ef6e2")
        button(type="submit") Bad save
