@import 'config';

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	line-height: 1.4;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background-color: @color-primary-dark;
	color: @color-primary-lightest;
	padding: 0;
	margin: 0;

	@media @mq-sm {
		padding: 0;
	}
}

a {
	color: @color-secondary;
	text-decoration: none;
	transition: color 0.2s;

	&:hover,
	&:focus {
		color: lighten(@color-secondary, 20%);
	}
}

.button {
	padding: 0.5rem 1.5rem;
	text-transform: uppercase;
	border: none;
	border-radius: 4px;
	background-color: @color-secondary;
	color: #fff;
	text-align: center;
	min-width: 8rem;

	&:hover,
	&:focus {
		background-color: @color-secondary-light;
	}
}

.buttonGroup {
	display: flex;
	margin-left: -1rem;
	margin-bottom: 2rem;
	justify-content: center;

	> * {
		margin-left: 1rem;
	}
}

.intro {
	width: 40em;
	margin: auto;
	position: relative;
	top: 40%;
	transform: translateY(-50%);
	text-align: center;
	padding: 1em;
	border-radius: 4px;

	h1 {
		font-size: 2.5em;
		margin: 0 0 0.8rem;
		color: @color-secondary;
	}

	p {
		margin: 0 0 1rem;
	}

	a {
		color: @color-secondary-lighter;
	}

	form {
		display: inline-block;
		width: auto;
	}

	.bookmarklet {
		display: inline-block;
		padding: 0.5rem 1rem;
		line-height: 1;
		background-color: @color-primary-lightest;
		color: @color-primary;
		border-radius: 0.3em;
		font-weight: bold;
		box-shadow: 0 1px 8px fade(@color-primary-darker, 80%);
		text-align: center;
		min-width: 8rem;

		&:hover,
		&:focus {
			background-color: @color-secondary-lighter;
		}
	}
}

.main {
	width: 100%;
	max-width: 90rem;
	margin: 0 auto 2rem;
	background-color: @color-primary-dark;
	color: @color-primary-lightest;
	max-width: none;
	min-height: 100vh;
	margin: 0;
	box-sizing: border-box;

	&.is-saved header {
		background-color: @color-primary-light;
	}

	header {
		padding: 1rem 2rem;
		background-color: @color-secondary;
		color: #fff;
		font-size: 0.9rem;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		position: relative;

		@media @mq-sm {
			padding: 0.5rem 1rem;
		}

		h1 {
			margin: 0;
			font-size: 1.4rem;
			flex: 1;
			font-weight: normal;
		}

		.referer {
			font-family: 'Inconsolata', monospace;
			b {
				opacity: 0.5;
				font-weight: normal;
				text-transform: uppercase;
			}
		}

		.viewMode {
			position: absolute;
			top: 1em;
			right: 1em;
			display: inline-block;
			vertical-align: middle;
			background-color: transparent;
			color: #fff;
			padding: 3px;
			border: none;
			outline: none;
			cursor: pointer;
			width: 34px;
			height: 34px;
			border-radius: 20px;
			transition: background-color 0.2s;

			@media @mq-sm {
				display: none;
			}

			&:hover {
				background-color: lighten(@color-secondary, 10%);
			}

			svg {
				fill: currentColor;
			}
		}
	}

	main {
		padding: 2rem 2rem 0.5rem;

		@media @mq-sm {
			padding: 1rem 1rem 0.5rem;
		}
	}

	footer {
		font-size: 0.8em;
		padding: 0 2rem 0.5rem;
		text-align: right;
		color: fade(@color-primary-lightest, 50%);

		a {
			color: currentColor;
			padding: 0 0.3em;

			&:hover {
				color: @color-primary-lightest;
			}

			&:after {
				content: '\2022';
				display: inline-block;
				margin-left: 0.6em;
			}

			&:last-child:after {
				content: none;
			}
		}

		form {
			display: inline-block;
			padding-right: 0.3em;

			&:after {
				content: '\2022';
				display: inline-block;
				margin-left: 0.6em;
			}
		}

		button {
			background-color: transparent;
			border: none;
			color: inherit;
			padding: 0;
			transition: color 0.2s;

			&:hover {
				color: @color-primary-lightest;
				cursor: pointer;
			}
		}
	}
}

table {
	border-collapse: collapse;
	width: 100%;
	font-family: 'Inconsolata', monospace;
}

thead,
tfoot {
	th,
	td {
		text-align: left;
		padding: 0.3rem 1rem;
		border: 1px solid @color-primary-light;
		color: darken(@color-primary-lightest, 25%);
	}

	@media @mq-sm {
		display: none;
	}
}

tbody {
	th,
	td {
		padding: 0.5rem 1rem;
		border: 1px solid @color-primary-light;
		text-align: left;
		vertical-align: top;

		@media @mq-sm {
			padding: 0.3rem 0.5rem;
			font-size: 0.9em;
			display: block;
		}
	}

	th {
		width: 30%;
		font-weight: normal;
		position: relative;
		padding-right: 4rem;
		background-color: @color-primary;

		@media @mq-sm {
			width: 100%;
		}

		small {
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}

		&:after {
			content: attr(data-type);
			display: inline-block;
			font-size: 0.8em;
			position: absolute;
			top: 0.8em;
			right: 1em;
			width: 4em;
			text-align: right;
			color: fade(@color-primary-lightest, 50%);
		}
	}

	td {
		min-height: 2em;
		word-break: break-all;

		@media @mq-sm {
			border-top: none;
			margin-bottom: 1rem;
		}

		&.type-multi {
			padding: 0;
		}

		table {
			box-shadow: none;
			border-style: hidden;

			@media @mq-sm {
				th,
				td {
					display: table-cell;
				}
			}

			th {
				width: 20%;
				background-color: transparent;

				@media @mq-sm {
					width: auto;
					max-width: 50%;
				}
			}
		}
	}
}
