@color-primary-lightest: #88a3c5;
@color-primary-lighter: #374c68;
@color-primary-light: #2b4467;
@color-primary: #1c2e44;
@color-primary-dark: #172431;
@color-primary-darker: #111a23;

@color-secondary-light: #e3efff;
@color-secondary: #006FFF;
@color-secondary-dark: #076092;

@mq-sm: ~"screen and (max-width: 30em)";
