doctype html
html(lang='en')
	head
		title Show me
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Ubuntu|Inconsolata" rel="stylesheet")
		link(rel="stylesheet" href="/css/app.css")
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-31871536-6")
	body
		block primary
		script(async src="/js/main.js")
	
